.footer {
  border-top: 1px solid #868687;
  background-color: #e7e7e8;
  padding: 10px 10px 20px 10px;
  text-align: center;
}

.footer h6 {
  text-align: center;
  color: #333;
  font-family: 'Segoe UI';
  font-size: 18px;
  margin: 0;
}